<footer>
  <div class="container-fluid">
    <div class="row g-4 m-4 myrow">
      <div class="col-md-4">
        <div class="inner">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <span>Clark, MO 65243</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h3>AROUND THE WEB</h3>
          <div
            class="icons d-flex justify-content-center align-items-center mt-3"
          >
            <span
              ><i class="fa-brands fa-facebook" style="color: #ffffff"></i
            ></span>
            <span
              ><i class="fa-brands fa-twitter" style="color: #ffffff"></i
            ></span>
            <span
              ><i class="fa-brands fa-linkedin" style="color: #ffffff"></i
            ></span>
            <span
              ><i class="fa-solid fa-globe" style="color: #ffffff"></i
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="mb-0">Copyright © Your Website 2021</p>
  </div>
</footer>
