<section
  class="d-flex justify-content-center align-items-center flex-wrap home"
>
  <div class="my-4 head-img">
    <img src="/images/avataaars.svg" alt="person" class="w-100" />
  </div>
  <h1 class="text-uppercase w-100 mb-3">start Framework</h1>
  <div class="title-line d-flex justify-content-center align-items-center mb-3">
    <div class="line bg-white me-3"></div>
    <i class="fa-solid fa-star"></i>
    <div class="line bg-white ms-3"></div>
  </div>
  <p class="w-100">Graphic Artist - Web Designer - Illustrator</p>
</section>
